td {border: 1px #DDD solid; padding: 5px; cursor: pointer; background-color: #858789; color: #858789; width: 20px;}

.clicked {
  background-color: white;
  color: black;
}

.bombs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 150px;
  color: red;
}
